@media screen and (max-width:574px) {
    
    .manue-bar {
        display: block;
    }
    .nav-bar {

        padding: 20px 16px;
    }

    .nav-bar>ul {
        display: none;
    }

    .banner {
        flex-direction: column;
        padding: 0 18px;
        gap: 58px;
    }
    .banner-element-1 h2 {
        font-size: 38px;

    }

    .banner-element-1,
    .banner-element-2 {
        width: 100%;
    }

    .btn {
        padding: 17px 32px;

    }

    .stylish-font {
        font-size: 38px;

    }


    .card-1 {

        bottom: 200px;
        left: 18px;
    }

    .card-2 {
        top: 0px;
        right: 0px;
    }
    .heading-content h1 {
        font-size: 34px;
    }

    .habit-content-container {
        flex-direction: column;
        gap: 38px;
    }


    .ad-banner-content-1,
    .ad-banner-content-2 {
        width: 100%;
    }

    .add-banner-button {
        width: 100%;
    }
    .ad-banner {
        flex-direction: column;
        padding: 32px;
        gap: 32px;

    }

    .second-banner {
        padding: 0 18px;
    }

    .bmi-content {
        flex-direction: column;
        gap: 60px;
    }

    .div-1,
    .div-2 {
        width: 100%;
    }
    .first-column{
        grid-column: span 1;
    }

    .trainer-dis-container {

        grid-template-columns: repeat(1, 1fr);

    }
    .bmi-calculator-section {
        padding: 36px 15px;
    }

    .footer-container {
        padding: 0 18px;
        grid-template-columns: repeat(1, 1fr);
       
    }
  


}